<div class="container" id="cover" style="height: 1000px">
  <div class="row">
    <div class="col-xs-2" style="position: absolute;">
      <img [src]="inItems.imagePath" alt="{{inItems.name}}"
           style="max-height: 450px; max-width: 400px; position: absolute; ">
      <br>
      <br>

      <div class="container">
        <div class="row">

          <div class="col-xs-1" style="margin-top: 400px; border: 1px solid black;">
            <app-item-images [items1]="inItems"></app-item-images>
          </div>
        </div>
      </div>
      <Br>
    </div>

    <div class="col-xs-6" id="page2">
      <div class="container">
        <a [routerLink]="'/'">Home</a>
        <h1>{{inItems.name}}</h1>
        <h6>Avg Rating: <b>{{rate}}</b>, Count Rating: <b>{{countRate}}</b></h6>
        <br>
        <h5>Price: <b style="text-decoration: line-through">{{inItems.price | number:'':'en'}}</b></h5>
        <h5>Sale : <b>{{ inItems.sale_price | currency | number:'':'en'}}</b></h5>
        <br>
        <label><b>Details: </b></label>
        {{inItems.description}}
        <label *ngIf="user && voteByUser"><i>You voted with {{ voteByUser.amount }} *</i></label>
        <br>
        <label *ngIf="user && voteByUser"><i>You can revoted below</i></label>
        <form *ngIf="user && voteByUser" (ngSubmit)="onSubmitRate(rateForm.value)" [formGroup]="rateForm">
          <select formControlName="amount">
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
          </select>
          <br>
          <br>
          <input class="btn btn-primary" [disabled]="!rateForm.valid" type="submit" value="Rating">
        </form>
        <label *ngIf="user && !voteByUser"><i>Give a vote below!!</i></label>
        <br>
        <form *ngIf="user && !voteByUser" (ngSubmit)="onSubmitRate(rateForm.value)" [formGroup]="rateForm">
          <select formControlName="amount">
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
          </select>
          <br>
          <br>
          <input class="btn btn-primary" [disabled]="!rateForm.valid" type="submit" value="Rating">
        </form>
        <br>
        <label><b>Reviews by users:</b></label>
        <br>
        <div>
          <ul class="list-group" *ngFor="let review of reviews">
            <li class="list-group-item">
              <strong>From {{ review.user.name}} :</strong>
              {{review.content}}
              <br>
              <a *ngIf="user && user.id === review.user.id" style="color: red;font-style: italic" (click)="deleteCmt(review.id)">Delete</a>
            </li>
            <br>
          </ul>
        </div>
        <Label *ngIf="user"><b>Leave a review below!</b></Label>
        <form *ngIf="user" (ngSubmit)="onSubmitReview(cmtForm.value)" [formGroup]="cmtForm">
          <textarea formControlName="content" cols="40" rows="5" required></textarea>
          <br>
          <input class="btn btn-primary" [disabled]="!cmtForm.valid" type="submit" value="Bình Luận">
        </form>
      </div>
    </div>
  </div>
</div>
