<div class="container" id="cover">
  <div class="row">
    <div class="col-xs-2" style="position: absolute;">
      <img [src]="inItems.imagePath" alt="{{inItems.name}}"
           style="max-height: 450px; max-width: 400px; position: absolute; ">
      <br>
      <br>

      <div class="container">
        <div class="row">

          <div class="col-xs-1" style="margin-top: 400px; border: 1px solid black;">
            <app-item-images [items1]="inItems"></app-item-images>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6" id="page2">
      <div class="container">
        <a [routerLink]="'/'">Home</a>
        <h1>{{inItems.name}}</h1>
        <h6>Avg Rating: <b>{{inItems.avg}}</b>, <b>{{inItems.ratingCounter}}</b> ratings,
          <b>{{inItems.reviewCounter}}</b> reviews</h6>
        <h4><b>{{inItems.price | currency}}</b></h4>
        <br>
        <label><b>Details: </b></label>
        <br>
        {{inItems.description}}
        <br>
        <br>
        <label><i>Give a rating below!!</i></label>
        <br>
        <form (ngSubmit)="onSubmitRate(rateForm.value)" [formGroup]="rateForm">
          <select formControlName="amount">
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
          </select>
          <br>
          <br>
          <input class="btn btn-primary" [disabled]="!rateForm.valid" type="submit" value="Rating">
        </form>
        <br>
        <label><b>Reviews by users:</b></label>
        <br>
        <div>
          <ul class="list-group" *ngFor="let review of reviews">
            <li class="list-group-item">
              <strong>From {{ review.user.name}} :</strong>
              <br>
              {{review.content}}
            </li>
            <br>
          </ul>
        </div>
        <Label *ngIf="user"><b>Leave a review below!</b></Label>
        <form *ngIf="user" (ngSubmit)="onSubmitReview(cmtForm.value)" [formGroup]="cmtForm" >
          <textarea formControlName="content" cols="40" rows="5" required></textarea>
          <br>
          <input class="btn btn-primary" [disabled]="!cmtForm.valid" type="submit" value="Bình Luận">
        </form>
      </div>
    </div>
  </div>
</div>
