<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Product</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-right">Price</th>
            <th> </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items">
            <td><img style="width: 50px;height: 50px" src="{{ item.image }}" /> </td>
            <td>{{ item.product.name }}</td>
            <td>
              <input class="form-control" type="number" value="{{ item.quantity }}"
                      (input)="update(item.product.id, $event.target.value)"
                      min="1"/>
            </td>
            <td class="text-right">{{ item.product.price * item.quantity | number:'':'en' }}</td>
            <td class="text-right"><button class="btn btn-sm btn-danger" (click)="remove(item.product.id)"><i class="fa fa-trash"></i> </button> </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping</td>
            <td class="text-right">{{ 0 | number:'':'en'}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong>{{ total | number:'':'en'}}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light" [routerLink]="['/home']">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase" (click)="checkOut()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
