<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
<!--  <h2>Profile</h2>-->
  <div class="row">
    <div class="col">
      <h3>Your information</h3>
      <form [formGroup]="profileForm" (ngSubmit)="editProfile(profileForm.value)">
<!--        <input type="text" formControlName="name" placeholder="Name" required>-->
<!--        <input type="email" formControlName="email" placeholder="Email" required>-->
        <label>Phone</label>
        <input type="number" formControlName="phone"  required>
        <label>Address</label>
        <input type="text" formControlName="address"  required>
        <label>Address Other</label>
        <input type="text" formControlName="addressOther"  required>
<!--        <input type="text" formControlName="avatar" placeholder="Avatar" required>-->
        <input type="submit" *ngIf="!detailsUser" value="Add Infomation">
        <input type="submit" *ngIf="detailsUser" value="Update Infomation">
      </form>
    </div>
    <div class="col">
      <h3>Change password</h3>
      <form [formGroup]="changePassForm" (ngSubmit)="changePass(changePassForm.value)">
        <label>Old password</label>
        <input type="password" formControlName="oldPassword"  required>
        <label>New password</label>
        <input type="password" formControlName="newPassword"  required>
        <label>Confirm new password</label>
        <input type="password" formControlName="confirmNewPassword"  required>
        <input type="submit" value="Change">
      </form>
    </div>
  </div>
</div>
</body>
</html>




