<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div style="margin-bottom: 10px">
        <label>Search : {{ text }}</label>
        <input style="width: 247px;" (keyup)="searchText($event.target.value)"></div>
      <div class="card bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a (click)="backToHome()">All Products</a></li>
        </ul>
        <ul class="list-group category_block">
          <li class="list-group-item" *ngFor=" let cate of cates"><a (click)="listOfCate(cate.id)">{{ cate.name }}</a></li>
        </ul>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-header bg-success text-white text-uppercase">Last product</div>
        <div class="card-body">
          <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff"/>
          <h5 class="card-title">Product title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="bloc_left_price | number:'':'en'">99.00 $</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div><p *ngIf="cateName" style="font-style: italic;color: #007bff; font-size: 20px"><a (click)="backToHome()">Home / </a>Products of {{ cateName }}</p></div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let itemsAb of items">
          <div class="card">
            <img class="card-img-top" style="width: 245.48px;height: 245.48px" src="{{ itemsAb.imagePath}}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><a [routerLink]="['detail/'+ itemsAb.id]" routerLinkActive="active" title="View Product">{{ itemsAb.name}}</a></h4>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block" style="text-decoration: line-through;
                  font-style: italic" *ngIf="itemsAb.sale_price">
                    {{ itemsAb.sale_price | number:'':'en' | number:'':'en' }}
                  </p>
                </div>
                <div class="col">
                  <p class="btn btn-danger btn-block" style="font-style: italic">${{ itemsAb.price | number:'':'en' }}</p>
                </div>
                <div class="col">
                  <button class="btn btn-success btn-block"
                          (click)="addToCart(itemsAb.id)">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

